
.App {
  text-align: center;
  display: flex;
}

.important {
  text-align: center;
  margin-top: 20px;
}

  .important h2 {
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 0, 0); /* Couleur différente pour les tâches religieuses */
    margin-bottom: 0;
    display: block;
}

.taskListTitle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px; /* Ajout de la marge en bas pour créer un espace */
}

.addTaskButton {
  background-color: #4caf50; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  padding: 10px 20px; /* Espacement interne du bouton */
  font-size: 16px; /* Taille de police du bouton */
  border: none; /* Supprimer la bordure du bouton */
  border-radius: 4px; /* Ajouter des coins arrondis au bouton */
  cursor: pointer; /* Ajouter un pointeur de curseur au survol du bouton */
}

.addTaskButton:hover {
  background-color: #45a049; /* Couleur de fond au survol du bouton */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}





