/* Ajoutez ces styles à votre fichier CSS */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
  
.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
  
.erreur {
    color: red;
    margin-bottom: 10px;
}
  
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
  
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
select {
    appearance: none;
}
  
button {
    background-color: rgb(153, 190, 203);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: rgb(153, 190, 203);
}
  
ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}
  
li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
li h3 {
    margin-bottom: 10px;
}
  
li div button {
    margin-right: 10px;
}

/* Ajoutez ces styles à votre fichier CSS */

/* ... (autres styles) ... */

.bouton-ajouter {
    background-color: rgb(153, 190, 203);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bouton-ajouter:hover {
    background-color: rgb(153, 190, 203);
}

.bouton-mettre-a-jour {
    background-color: rgb(153, 190, 203);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bouton-mettre-a-jour:hover {
    background-color: rgb(153, 190, 203);
}

